html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .selected-gender {
    @apply font-bold text-yellow-600 transition-all duration-500 ease-in-out scale-105;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
